<h2>TV Shows:</h2>
<div *ngFor="let show of shows.results">
    <div class="card" style="width: 50%; display: inline-block">
      <div class="card-header">
        <h3>{{show.original_name}}</h3>
      </div>
      <div class="card-body">
        <div class="container-fluid">
          <div class="text-center">
            <img [src]="'https://image.tmdb.org/t/p/w500/' + show.backdrop_path"
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px" />
                 <p>First Air Date: {{show.first_air_date}}</p>
            <p>{{show.overview}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>